<!--footer.html-->

    <footer class="footer">
    <div class="container text-end">
        <p class="text-muted">EWT Web</p>
    </div>
    </footer>
    <script src="/public/bootstrap.min.js"></script>
    <script src="/public/popper.min.js"></script>
    <script src="/public/jquery-3.7.1.min.js"></script>
    <script src="/public/jquery-ui.min.js"></script>
</div>
</body>

</html>
