<html>
  <body>
    <p>{{ .title }}</p>
    <p>ewt home: {{ .data.EwtHome }}</p>
    <h4>Current Projects</h4>
    {{ range $projectDirectory := .data.Directories }}
      <ul>
        <li><a href="/projects/{{ $projectDirectory }}/show">{{ $projectDirectory  }}</a></li>
      </ul>
    {{ end }}
    <a href="/projects/new">Create New Project</a>
    <a href="/archives">View Archives</a>
  </body>
</html>